@media screen and (min-width: 1900px){
  .container{
    width: 1800px;
  }
}

/*img {
    width: 30%;
}*/



body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

/* Always be sure to give your carousel items a width and a height */
/*.yui-carousel-element li {
    width : auto;
    height : auto;
    max-width: 600px;
    max-height: 500px;
}*/

.yui-carousel-content {
    overflow: visible;

}

.yui-carousel-item {
    border: none;
    display: inline-block;
    width: 600px;
    
    overflow: visible;
}



.carousel-element {
    height: 100%;
    overflow: visible;
    max-width: 600px;
  max-height:500px;
}

/*.yui-carousel-nav {
    display : none;
}*/

/*.yui-carousel-element .yui-carousel-item-selected {
    border:0; 
}*/