@media screen and (min-width: 1900px){
  .container{
    width: 1800px;
  }
}

@media screen and (min-width: 1300px){
  .container{
    max-width: 1200px;
    max-height: 700px;
  }
}


body{
  background: #333;
  color: #ddd;
  overflow-y: hidden;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

.mediacontainer {
  height: 90%;
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.media {
  margin: 10px;
  flex-shrink: 1;
  width: 30%;
  max-height: 40%;
}

.mediafull {
    /*margin: 10px;*/
    flex-shrink: 1;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

video {
  width: 100%;
  height: auto;
}


.wide {
    width: 100%;
    height: auto;
}
.tall {
    height: 100%;
    width: auto;
}​