.btn:focus, .upload-btn:focus{
  outline: 0 !important;
}

html,
body {
  background-color: #0b3142;
}

.navbar{
  background-color: #0f5257;
  border: none;
  color: #fff;
}

.uploadForm{
  margin-top: 60px;
}

.tag{
  display: inline-block;
  border-radius: 2px;
  margin: 2px 2px;
  text-align: left;
  padding: 2px;
  cursor: pointer;
}

.tag[picked=true]{
  background-color: #fff;
  color: #9c92a3;
}

.tag[picked=false]{
  color: #fff;
  background-color: #9c92a3;
}

#tags{
  overflow-y: inherit;
  display-inline: block;
  float: left;
  width: 100%;
  padding: 0;
}

#myNavbar li a{
  color: #fff;
}

#brand{
  color: #fff;
}

.icon{
  color: #fff;
}

.imgRow{
  margin: 2px 2px;
}

body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.formView{
  padding: 0;
}

.textInput{
  border: none;
}

.row{
  margin: 5px 0px;
}

h4 {
  padding-bottom: 30px;
  color: #B8BDC1;
}

.glyphicon {
  color: #fff;
  cursor: hand;
  height: 20px;
  top: 0;
  cursor: pointer;
}


.item{
  margin: 10px 0px;
}

.inputLabel{
  padding: 0px 15px;
  text-align: left;
}

h2{
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

.panel .panel{
  margin: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#upload-input {
  display: none;
}

@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}

.progress{
  color: #39D2B4;
}


/* styles de base si JS est activé */
.js .input-file-container {
  position: relative;
  width: 225px;
  margin: 20px 0px;
  display: inline-block;
}
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #9c92a3;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

/* quelques styles d'interactions */
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus,
.allButton:hover,
#upload:hover{
  background: #34495E;
  color: #39D2B4;
}

/* styles du retour visuel */
.file-return {
  margin: 0;
  color: white;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.allButton{
  display: block;
  padding: 14px 45px;
  background: #9c92a3;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  position: relative;
  width: 225px;
  display: inline-block;
  border: none;
  font-weight: bold;
}

#upload{
  display: block;
  padding: 14px 45px;
  background: #9c92a3;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  position: relative;
  width: 225px;
  display: inline-block;
  border: none;
  font-weight: bold;
}

#projectName{
  color: #4c6085;
}